#title{
  background-color: #ff4c68;
    color: #fff;
}
body{
    font-family: 'Montserrat-black', sans-serif;
}
h1{
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
h2{
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}
h3{
  font-size: 1.5rem;
  font-weight: bolder;
}
p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15%;
}

.navbar-brand{
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}
.nav-item{
  position: relative;
  left: 500px;
  padding: 0 1.5rem;
}
.row{
  margin-top: 2.3rem;
}
.nav-link{
  font-size: 1rem;
}
/* download buttons */
button{
  margin: 5% 3% 5% 0;
}
/* title image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
}
/* features boxes */
#features{
  padding: 2% 15%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

/* testimonial */
#testimonials{

 text-align: center;
 background-color: #ef8172;
 color: #fff;
}
.carousel-item{
  padding: 3% 15%;
}
.test-img{
  width: 13%;
  border-radius: 100%;
  margin: 1rem;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 15px;
}

#pricing{
  padding: 6rem;
  text-align: center;
}
.pricing-column{
  padding: 0 2%;
}
